@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Welcome to PlannerApp</h1>
        <p>Learn how to develop client-side applications with Xamarin.Forms, Blazor Webassembly and UWP</p>
        <p>API up and running for you built with love by <a href="http://ahmadmozaffar.net">AK Academy</a></p>
        <div class="row">
            <div class="col-3">
                <a class="btn btn-success btn-block" href="/swagger">API Documentation</a><br />
            </div>
            <div class="col-3">
                <a class="btn btn-danger btn-block" href="http://bit.ly/2tIdxEW">Subscribe to AK Academy</a><br />
            </div>
            <div class="col-3">
                <a class="btn btn-info btn-block" href="http://bit.ly/2MVDibO">ahmadmozaffar.net</a><br />
            </div>
            <div class="col-3">
                <a class="btn btn-primary btn-block" href="http://bit.ly/2Fnie9R">GitHub</a><br />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h2>Authentication</h2>
        <p>Learn how to login and register users from your Blazor and Xamarin.Forms applications with JWT</p>
    </div>
    <div class="col-3">
        <h2>Fetch data</h2>
        <p>Learn how to fetch data from remote data source via HTTP Web API</p>
    </div>
    <div class="col-3">
        <h2>Upload Files</h2>
        <p>Learn how to upload files from your client-side applications to the server via the Web API</p>
    </div>
    <div class="col-3">
        <h2>Architecture</h2>
        <p>Learn how to architect your application and start from scratch until you publish the application to the end user devicesfiles from your client-side applications to the server via the Web API</p>
    </div>
</div>


