@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <h3 class="ms-fontSize-32 ms-fontWeight-regular">Welcome to PlannerApp v2.0 (May 2021 Update)</h3>
        <p class="ms-fontSize-18">Learn how to develop client-side applications with .NET MAUI, Blazor Webassembly and WinUI 3.0</p>
        <p class="ms-fontSize-18">API up and running for you built with love by <a href="https://ahmadmozaffar.net">AK Academy</a></p>
        <div class="row">
            <div class="col-3">
                <a class="btn btn-success btn-block" href="/swagger">API Documentation</a><br />
            </div>
            <div class="col-3">
                <a class="btn btn-danger btn-block" href="http://bit.ly/2tIdxEW">Subscribe to AK Academy</a><br />
            </div>
            <div class="col-3">
                <a class="btn btn-info btn-block" href="http://bit.ly/2MVDibO">ahmadmozaffar.net</a><br />
            </div>
            <div class="col-3">
                <a class="btn btn-primary btn-block" href="http://bit.ly/2Fnie9R">GitHub</a><br />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h3>Authentication</h3>
        <p>Learn how to login and register users from your Blazor and Xamarin.Forms applications with JWT</p>
    </div>
    <div class="col-3">
        <h3>Fetch data</h3>
        <p>Learn how to fetch data from remote data source via HTTP Web API</p>
    </div>
    <div class="col-3">
        <h3>Upload Files</h3>
        <p>Learn how to upload files from your client-side applications to the server via the Web API</p>
    </div>
    <div class="col-3">
        <h3>Architecture</h3>
        <p>Learn how to architect your application and start from scratch until you publish the application to the end user devicesfiles from your client-side applications to the server via the Web API</p>
    </div>
    <div class="col-3">
        <h3>Microsoft Graph</h3>
        <p>Learn how to login with Microsoft and being able to sync your plans between PlannerApp and the famous Microsoft ToDo app</p>
    </div>
    <div class="col-3">
        <h3>.NET MAUI Client</h3>
        <p>Learn how to build cross-platform applications with .NET MAUI for Android, iOS, Windows, and MacOSX</p>
    </div>
    <div class="col-3">
        <h3>Blazor WebAssembly</h3>
        <p>Learn how to develop amazing modern web apps with Blazor WebAssembly by following with this course from the very scratch until final deployment</p>
    </div>
    <div class="col-3">
        <h3>Git</h3>
        <p>Learn how to how to use source controls for your projct while you are working and for this project we are going to use <a href="https://github.com">GitHub</a> and <a href="https://gitkraken.com">GitKraken</a> as a git client</p>
    </div>
</div>


